<!-- ////////////// FOOTER ////////////// -->
footer.pt-5
	.container-fluid
		.row
			.col-12.col-md-6.col-lg-5.pop
				img.mb-2(src="./img/logo.png" alt="")
				p.mt-3.quotes Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				p Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
				ul.list-unstyled.d-flex
					li.pr-4
						a(href="#")
							i.fa.fa-twitter
					li.pr-4
						a(href="#")
							i.fa.fa-google
					li.pr-4
						a(href="#")
							i.fa.fa-github-alt
			.col-6.col-md.col-lg-2.quicklink.mt-4.mt-md-0
				h5.mb-4 FULLSTACK VIETNAM.
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Cool stuff
					li
						a.text-muted(href="#") Random feature
					li
						a.text-muted(href="#") Team feature
					li
						a.text-muted(href="#") Stuff for developers
					li
						a.text-muted(href="#") Another one
					li
						a.text-muted(href="#") Last time
			.col-6.col-md.col-lg-2.quicklink.mt-4.mt-md-0
				h5.mb-4 FULLSTACK VIETNAM.
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Cool stuff
					li
						a.text-muted(href="#") Random feature
					li
						a.text-muted(href="#") Team feature
					li
						a.text-muted(href="#") Stuff for developers
					li
						a.text-muted(href="#") Another one
					li
						a.text-muted(href="#") Last time
			.col-6.col-md.col-lg-2.quicklink.mt-4.mt-md-0
				h5.mb-4 FULLSTACK VIETNAM.
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Cool stuff
					li
						a.text-muted(href="#") Random feature
					li
						a.text-muted(href="#") Team feature
					li
						a.text-muted(href="#") Stuff for developers
					li
						a.text-muted(href="#") Another one
					li
						a.text-muted(href="#") Last time
			.col-12.branding.text-center
				h5 Copyright 2018 by 
					span FullStack Vietnam.
